.table table-striped {
  background-color: rgb(246, 246, 239);
}
thead {
  background: #ff6307;
  color: white;
  line-height: 1em;
}

.page-link {
  font-weight: bold;
  color: #ff6307;
}

hr {
  height: 1px;
}
.material-icons {
  display: inline-flex;
  vertical-align: top;
}
.bookmark {
  font-size: 24px;
  line-height: 24px;
  cursor: pointer;
}
